body{
    background: rgb(248, 212, 214);
    font-family: Arial, 'Times New Roman';
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}
#titulo1{
    color: rgb(180, 118, 38);

}
